* text=auto
*.js text eol=lf
*.mjs text eol=lf
*.gradle text eol=lf
*.css text eol=lf
*.html text eol=lf
*.java text eol=lf
*.py text eol=lf
*.md text eol=lf
*.mp3 -text
*.xlsx -text
*.jar -text
*.pdf -text
